<div class="container">
    <div class="row">
        <form class="m-3 col-9" [formGroup]="homeform" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                />
            </div>
            <p
                class="text-danger"
                *ngIf="
                    !homeform.get('name')?.valid &&
                    homeform.get('name')?.touched
                "
            >
                inserisci un nome
            </p>
            <div class="mb-3">
                <label for="cognome" class="form-label">Cognome</label>
                <input
                    type="text"
                    class="form-control"
                    id="cognome"
                    formControlName="cognome"
                />
            </div>
            <p
                class="text-danger"
                *ngIf="
                    !homeform.get('cognome')?.valid &&
                    homeform.get('cognome')?.touched
                "
            >
                inserisci un Cognome
            </p>
            <div class="mb-3">
                <label for="genere" class="form-label">Genere</label>
                <select name="genere" id="genere" formControlName="genere">
                    <option value="uomo">Uomo</option>
                    <option value="donna">Donna</option>
                </select>
            </div>
            <p
                class="text-danger"
                *ngIf="
                    !homeform.get('genere')?.valid &&
                    homeform.get('genere')?.touched
                "
            >
                inserisci un genere
            </p>
            <div class="mb-3">
                <label for="image" class="form-label">Immagine Profilo</label>
                <input
                    type="url"
                    class="form-control"
                    placeholder="url"
                    id="image"
                    formControlName="image"
                />
            </div>
            <p
                class="text-danger"
                *ngIf="
                    !homeform.get('image')?.valid &&
                    homeform.get('image')?.touched
                "
            >
                inserisci un immagine
            </p>
            <div class="mb-3">
                <label for="biografia" class="form-label">Biografia</label>
                <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="biografia"
                    formControlName="biografia"
                ></textarea>
            </div>
         
            <p
            class="text-danger"
            *ngIf="
                !homeform.get('biografia')?.valid &&
                homeform.get('biografia')?.touched
            "
        >
            inserisci un biografia
        </p>
            <div class="mb-3">
                <label for="userName" class="form-label">Username</label>
                <input
                    type="te"
                    class="form-control"
                    id="userName"
                    formControlName="userName"
                />
            </div>
            <p
                class="text-danger"
                *ngIf="
                    !homeform.get('userName')?.valid &&
                    homeform.get('userName')?.touched
                "
            >
                inserisci un username
            </p>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                />
            </div>
            <p
                class="text-danger"
                *ngIf="
                    !homeform.get('email')?.valid &&
                    homeform.get('email')?.touched
                "
            >
                inserisci un nome
            </p>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    formControlName="password"
                />
            </div>
            <p
                class="text-danger"
                *ngIf="
                    !homeform.get('password')?.valid &&
                    homeform.get('password')?.touched
                "
            >
                inserisci un password
            </p>
            <div class="mb-3">
                <label for="repeatPassword" class="form-label"
                    >repeat Password</label
                >
                <input
                    type="password"
                    class="form-control"
                    id="repeatPassword"
                    formControlName="repeatPassword"
                />
            </div>
            <p
                class="text-danger"
                *ngIf="
                    homeform.hasError('passwordMismatch') &&
                    (homeform.get('repeatPassword')?.touched ||
                        homeform.get('repeatPassword')?.dirty)
                "
            >
                le password non coincidono
            </p>
            <button
                type="submit"
                [disabled]="homeform.invalid"
                class="btn btn-primary"
               
            >
                Submit
            </button>
        </form>
    </div>
</div>
