
Back-End/MESE5/Settimana2/Giorno3/lezione/env.properties
Back-End/MESE5/Settimana2/progettoSettimanale/env.properties
Back-End/MESE5/Settimana3/Giorno1/lezione/env.properties
Back-End/MESE5/Settimana3/Giorno1/lezione/env.properties
Back-End/MESE5/Settimana3/Giorno1/esercizio/env.properties
