
<div class="container-fluid mt-4 text-center">
    <div class="row">
      <div class="col-12 mx-auto d-flex flex-column border p-0 shadow">
        <div>
         
          <img [src]="'https://www.kimballstock.com/pix/car/p/' + car.modelImage" alt="" width="50%" />
        </div>
        <div class="border" >
          <h2 class="my-2">{{ car.brand }} {{ car.model }}</h2>
          <div class="d-flex justify-content-center">
            <h4 class="mb-1 mx-3">ANNO: {{ car.year }}</h4>
            <h4 class="mb-auto">PREZZO: {{ car.price }}€</h4>
          </div>
          <p class="mb-auto"[ngClass]="car.available ? 'bg-success' : 'bg-danger'">
            <span *ngIf="car.available; else notAvailable">PRONTA CONSEGNA: Disponibile</span>
            <ng-template #notAvailable>PRONTA CONSEGNA: Non disponibile</ng-template>
          </p>
         
        </div>
      </div>
    </div>
  </div>