<div class="d-flex justify-content-center mb-3 bg-black">
    <div class="row gy-3">
        <div class="col-12" *ngIf="user">
            <div class="card h-100 shadow d-flex flex-column align-items-between">
                <div><img src="{{checkTypeOfAuthData(user) ? user.user.thumbnailUrl : checkTypeOfSocialUser(user) ? user.photoUrl : ''}}" class="card-img-top"
                        style="object-fit: cover; height: 350px" />
                    <div class="card-body text-center">
                        <div>
                            <h5 class="card-title">{{ checkTypeOfAuthData(user) ? user.user.name : checkTypeOfSocialUser(user) ? user.firstName+' '+(user.lastName !== undefined && user.lastName || '') : '' }}</h5>
                            <h5 class="card-title">{{ checkTypeOfAuthData(user) ? user.user.email : checkTypeOfSocialUser(user) ? user.email : ''  }}</h5>
                            <p class="card-title">Tel: {{ checkTypeOfAuthData(user) ? user.user.tel : 'N/A' }}</p>
                            <p class="card-title">Età: {{ checkTypeOfAuthData(user) ? user.user.eta : 'N/A' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container ">
    <h1 class="text-centermy-3 pb-3">Preferiti</h1>
    <div class="row gy-3">
      <div class="col-3" *ngFor="let movie of film">
        <div class="card h-100 shadow d-flex flex-column align-items-between">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top"
              alt="{{ movie.title }}, poster"  />
            <div class="card-body text-center">
              <div>
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{ movie.overview.slice(0, 30) }}...</p>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <a [routerLink]="['/details', movie.id]" class="btn colred ms-3 mb-2">Mostra dettagli</a>
              <button (click)="favourite(movie)" type="button" class="btn btn-outline-light mb-2 me-3" [ngClass]="movie.video ? 'active' : ''" data-bs-toggle="button">
                <i class="bi bi-heart-fill"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>