<div class="container my-5">
  <h1 class="text-center mb-2 display-1 fw-bold">Le nostre auto Fiat</h1>
  <div class="row">
    <div
      class="card col-12 my-2 p-3 text-center shadow"
      *ngFor="let car of cars"
    >
      <div>
        <img
          src="https://www.kimballstock.com/pix/car/p/{{ car.modelImage }}"
          alt=""
        />
      </div>
      <div [ngClass]="car.available ? 'bg-success' : 'bg-danger'">
        <h3 class="mb-0">{{ car.brand }} {{ car.model }}</h3>
      <div class="d-flex justify-content-center">
        <h2 class="mb-1 me-3">ANNO: {{ car.year }}</h2>
        <h2 class="mb-auto">PREZZO: {{ car.price }}€</h2>
      </div>

      <p class="mb-auto">
        <span *ngIf="car.available; else notAvailable">PRONTA CONSEGNA: Disponibile</span>
        <ng-template #notAvailable>PRONTA CONSEGNA: Non disponibile</ng-template>
      </p>
      <a
        class="btn border m-2 rounded-5 bg-black text-white over"
        ariaCurrentWhenActive="page"
        routerLinkActive="active"
        [routerLink]="['/dettagli',car.model]"
        >Mostra più dettagli</a
      >
      </div>
      
    </div>
  </div>
</div>
