<div class="card-container bg-secondary-subtle p-2">
    <div
        class="card d-flex shadow flex-row align-items-center gap-5 m-3"
        *ngFor="let user of users"
    >
        <div class="d-flex flex-column ">
            <h5 class="card-title text-center mt-3">
                {{ user.firstName }} {{ user.lastName }}
            </h5>
            <div><img [src]="user.image" alt="User Image" /></div>
        </div>
        <div class="container m-5 d-flex flex-column">
            <div
                class="container shadow m-1 text-black p-1 w-75 d-flex align-content-center "
                *ngFor="let todo of userTodosMap.get(user.id)"
                [ngClass]="todo.completed ? 'btncolgreen' : 'btncolred'"
            >
                <input
                    class="m-2 mt-2 over"
                    type="checkbox"
                    [checked]="todo.completed"
                    (change)="checks(todo)"
                />
                <p class="m-0">{{ todo.todo }}</p>
            </div>
        </div>
    </div>
</div>
