body{
    background-color: aquamarine;
}


div{
    text-align: center;
    padding-top: 250px;
}

#taskInput{
    font-size: 20px;
}

button{
    font-size: 20px;
    background-color: green;
}

ul{
    list-style-type: none;
}