<div class="container mt-3 pt-3">
   <div class="container-fluid px-5 shadow">
    <div  *ngFor="let item of todos">
      <div
          class="d-flex m-2 text-black"
          *ngIf="item.todo"
          [ngClass]="item.completed ? 'btncolgreen' : 'btncolred'"
      >
          <input class="m-2 over"
              type="checkbox"
              [checked]="item.completed"
              (change)="checks(item)"
          />
          <div class="ms-3">
              <h2>{{ item.todo }}</h2>
              <p>Assigned: to {{ getName(item.userId) }}</p>
          </div>
      </div>
  </div>
   </div>
</div>
