<div>
    <div class="px-5 py-4 bg-body-secondary rounded-3" *ngIf="isLoaded">
        <h5>Potrebbero piacerti:</h5>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let post of  consigliati">
                <a [routerLink]="['postDetail', post.id]"><i class="bi bi-link-45deg"></i> {{ post.title }}</a>
                <br />
                <span
                    class="badge bg-primary me-1 text-uppercase"
                    *ngFor="let tag of post.tags"
                    >{{ tag }}</span
                >
                <br />
                {{ post.reactions }} <i class="bi bi-hand-thumbs-up"></i>
            </li>
        </ul>
        <h5>Vedi anche:</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a routerLink="/active">Post attivi</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/inactive">Post inattivi</a>
            </li>
        </ul>
    </div>
</div>