<div class="container">
    <div class="m-1" *ngFor="let item of incompleTodo">
        <div
            class="d-flex shadow"
            *ngIf="item.todo"
            [ngClass]="item.completed ? 'bg-black text-white' : 'bg-warning text-black' "
        >
            <input
                type="checkbox"
                class="m-3 over"
                [checked]="item.completed"
                (change)="checks(item)"
            />
            <div>
                <h2>{{ item.todo }}</h2>
                <p>Assigned: to {{ getName(item.userId) }}</p>
            </div>
        </div>
    </div>
</div>
