/* RISOLUZIONE DI PARTENZA 1200PX*/

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

/*header*/

.logo {
    width: 15%;
}

.logo img {
    width: 100%;
}

nav,
.hero-section,header {
    background-color: #ffc017;
    border-bottom: 1px solid #000000;
}

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;


}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-tag {
    display: flex;
    justify-content: space-around;
    width: 40%;

}


button {
    background-color: black;
    color: white;
    border-radius: 30px 30px 30px 30px;
    padding: 0 30px;
}

/*Main*/
h1 {
    font-family: "Spectral", serif;
    font-size: 6em;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
}

.hero-section {
    display: flex;
    justify-content: end;
}

.hero-descrition {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: flex-start;
    width: 46%;
}

.hero-descrition button {
    height: 40px;
    margin-top: 50px;
    padding: 0 60px;
}

.hero-descrition p {
    font-size: 18px;
    width: 65%;
    margin-top: 15px;

}

.conteiner-trending {
    margin: 0 5em;
}

.trending {
    display: flex;
}

.conteiner-card {

    display: flex;
    width: 30%;


}

.conteiner-tutte-card {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card img {
    width: 9%;
    margin: 10px;
    margin-left: 0;
}

.rotonda img {
    border-radius: 50%;
}

.quadrato img {
    border-radius: 6px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.card div {
    display: flex;
    align-items: center;
}

.gray,
hr,
span,
.box-link p,
.box {
    color: #191919;
}


span,
.box-link p,
.box {
    opacity: 0.7;
}

.gray {
    opacity: 0.3;

    font-size: 2.5em;
}



.card h2 {
    font-size: 1em;
    font-weight: 800;

}

.size-p-card {
    font-size: 15px;
    font-weight: 500;

}

.opacity {
    opacity: 0.7;
    font-size: 1em;
}

.conteiner-card h2 {
    margin: 0;
    margin-right: 10px;
}

/*Section*/

hr {
    margin: 35px 0 40px 0;
}

.conteiner-articol-footer {
    display: flex;
    align-items: start;
}

.conteiner-articol {
    width: 90%;
}

.conteiner-articol-card {
    display: flex;
    width: 135%;
    align-items: center;


}

.section-img img {
    width: 100%;
}

.section-img {
    width: 28%;
}

.card2 {
    width: 40%;
}

.card2>p {
    margin: 0;
    font-size: 12px;
}

.bookmark {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.star {
    display: flex;
    width: 100%;
    font-size: 12px;
}

hr,
.star span {
    background-color: #1919192c;
}

.star span {

    padding: 0 10px;
    font-size: 10px;
    border-radius: 30px;

}

.card2 h2 {
    font-size: 25px;
    margin: 0 0 5px 0;

}

/*footer*/
.conteiner-footer {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: sticky;
    top: 90px;
    z-index: 1;
}

.conteiner-footer h2:first-child {
    margin-top: 0;
    font-size: 18px;
}

.box-link button {
    text-decoration: none;
    border: 1px solid #1919192c;
    padding: 8px 8px;
    font-size: 10px;
    text-align: center;
    color: #191919;
    background-color: #ffffff;
    border-radius: 0;
    width: 100%;
}

.box p {
    border: none;
    font-size: 15px;
}

.box-link {
    margin-top: 10px;

}

/*Discover*/
.discover,
.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.discover {
    width: 75%;
    justify-content: space-evenly;
}



.box {
    margin: -9px 8px;
}

@media screen and (max-width:768px) {


    button {
        width: 30%;
    }

    .nav-tag {
        width: 60%;

    }
nav{
    height: 8vh;
}
    .hero-descrition {

        width: 40%;
    }

    .hero-descrition h1 {
        font-size: 3em;
    }

    .m-svg {
        width: 50%;
    }

    .hero-section {

        justify-content: center;
    }

    .hero-descrition p {
        font-size: 15px;
        width: 88%;

    }

    .hero-descrition button {
        margin-top: 26px;
        width: 65%;
    }

    .trending h2 {
        font-size: 1em;
    }

    .conteiner-card {
        width: 48%;
    }

    .conteiner-articol-footer {
        flex-direction: column-reverse;
    }

    .conteiner-footer {
        width: 100%;
    }

    .footer {
        margin-bottom: 10px;
    }

    .discover {
        width: 72%;
    }

    .conteiner-footer {
        position: static;
        z-index: 0;
    }

    .conteiner-articol {
        width: 110%;
    }
    
.conteiner-articol-card {
    width: 100%;
}
.card2 {
    width: 59%;
}
.section-img {
    width: 39%;
}
}